<div class="header" ><strong>Chess game: </strong> <a href="https://github.com/MathiasAAU/Chess">Github</a> </div>

<div class="bread_header">How to play:</div>
  <ol class="bread_text">
    <li>Click <strong>Game</strong> in the top right</li>
    <li>White player moves first then black</li>
    <li>Play until one side wins</li>
    <li>A new game can be started at any point</li>
  </ol>

<div class="bread_header">Missing features:</div>
  <ul class="bread_text">
    <li>Detecting when the game state is a <strong>draw</strong> or a <strong>stalemate</strong></li>
    <li>The ability to <strong>forfeit</strong> a game</li>
    <li>Displaying <strong>A</strong> to <strong>H</strong> for the files and <strong>1</strong> to <strong>8</strong> for the ranks</li>
    <li>The ability to see more the 17 moves back and for a move displaying if a piece was killed</li>
    <li>Keep track of a player's wins and the option to switch color</li>
    <li>Fixing bugs that happends when a king is in check (E.g being able to move a piece you should not be able to)</li>
  </ul>

