<body>
  <p aria-live="polite">Current turn: <strong>{{ game.currentTurn }}</strong></p>
  <p aria-live="polite">Player 1: {{game.player1.isWhite}} <strong>{{ game.player1.score}}</strong></p>
  <p aria-live="polite">Player 2: {{game.player2.isWhite}} <strong>{{ game.player2.score}}</strong></p>
  <p aria-live="polite">Game state <strong>{{ game.state}}</strong></p>

  <button class="btn btn-primary" (click)="clearChoice()">Clear</button>
  <button class="btn btn-primary" (click)="newGame()">New game</button>

  <div id="chessboard" class="chessboard">
    <div *ngFor="let row of squares;">
      <div *ngFor="let i of squares; let column = index">
        <div id="{{column}},{{row}}" [textContent]="game.board[column][row].piece" [ngClass]="getSquareColor(column, row)" (click)="selectSquare(column + ',' + row)"></div>
      </div>
    </div>
  </div>
</body>
